body{
	background-color: #085C71;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	margin: 0;
}
.content{
	padding: 10px;
	display: flex;
	flex-flow: column nowrap;
	border-radius: 10px;
	background-color: #101010;
	padding: 0 50px 40px 50px;
}
h1{
	text-transform: uppercase; 
	text-align: center;
	color: #fff;
}
.content-input{
	display: flex;
	flex-flow: column nowrap;
}
.content-button{
	display: flex;
	justify-content: center;
}
input{
	outline: none;
	border-radius: 24px;
	height: 30px;
	width: 200px;
	margin-bottom: 20px; 
	padding: 3px 15px;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: capitalize;
	color: #fff;
}
input:last-child{
	margin-bottom: 30px; 
}
input[type = "text"]{
	border: 0;
	background: none;
	text-align: center;
	border: 2px solid #3600FF;
}
input:focus{
	border-color: #fff;
}
button{
	position: relative;
	height: 35px;
	padding: 5px 45px;
	font-size: 18px;
	text-transform: uppercase;
	border: none;
	border-radius: 50px;
	color: #fff;
	background-color: #2400FF; 
	overflow: hidden;
	z-index: 1;
	outline: none;
	letter-spacing: 2px;
	cursor: pointer;
}
button:before{
	position: absolute;
	border-radius: 50px;
	width: 0%;
	height: 100%;
	content: '';
	top: 0;
	left: 0;
	background-color: #3012EA;
	transition: .5s;
	z-index: -1;	
}
button:hover:before{
	width: 100%;
}
